

<h1>Home#index</h1>
<p>Test</p>
<h1>Email : <%=current_user.email%></h1>	
<h1>Status : <%=user_signed_in?%></h1>
<h3>Time : <%=DateTime.now%></h3>
<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
